<div class="form-row float-right">
    <button class="btn btn-info" (click)="goBack()">
      Nazad
    </button>
  </div>
<div class="row komplet">

  <div class="col-md-7  mx-auto">
    <form (submit)="onSubmit(oldP.value, newP.value)">
      <div class="form-group">
        <label for="oldP" class="col-sm-4 col-form-label">Stara šifra:</label>
        <input type="text" id="oldP" class="form-control" #oldP required>
      </div>
      <div class="form-group">
        <label for="newP" class="col-sm-4 col-form-label">Nova šifra:</label>
        <input type="password" id="newP" class="form-control" #newP required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Promeni šifru</button>

      </div>
    </form>